<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link rel="stylesheet" href="~/Content/niceselect.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/flex-slider.min.css">
    <link rel="stylesheet" href="~/Content/owl-carousel.css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/css.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <style>
        .advertisement-slider {
            width: 100%;
            margin: 0;
            padding: 0;
        }

            .advertisement-slider img {
                width: 100%;
                height: auto;
            }
        .fa-home {
            font-size: 200px; /* Adjust the size to your preference */
        }
    </style>


</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> +815733003</li>
                                <li><i class="ti-email"></i>luanho4568@gmail.com</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="ti-location-pin"></i>Phan Thiết - Bình Thuận</li>
                                @if (Session["Taikhoan"] == null || Session["Taikhoan"].ToString() == "")
                                {
                                    <li><i class="ti-user"></i>Khách</li>
                                    <li>
                                        <i class="ti-pencil-alt"></i>
                                        <a href="@Url.Action("Dangnhap","Nguoidung")">Đăng Nhập</a>
                                    </li>
                                    <li><i class="ti-power-off"></i><a href="@Url.Action("Dangky","Nguoidung")">Đăng Ký</a></li>
                                }
                                else
                                {
                                    <li><i class="ti-user"></i>@Session["TDN"].ToString()</li>
                                    <li><i class="ti-power-off"></i><a href="@Url.Action("Thoat","BookStore")">Đăng xuất</a></li>
                                }

                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="@Url.Action("Index","BookStore")"><img src="~/images/logo.png" alt="logo"></a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                <form class="search-form">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <!-- Search Form -->
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <form method="get" action="@Url.Action("TimKiem", "BookStore")">
                                    <input name="search" placeholder="Nhập tên sách tìm kiếm....." type="text">
                                    <button type="submit" class="btnn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            <div class="sinlge-bar">
                                <!-- Yêu Thích -->
                                <a href="@Url.Action("YeuThich", "YeuThich")" class="single-icon">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    @if (ViewBag.YeuThichCount != null)
                                    {
                                        <span class="total-count">@ViewBag.YeuThichCount</span>
                                    }
                                </a>
                            </div>
                            <!-- Thông tin cá nhân -->
                            <div class="sinlge-bar">
                                <!-- Thông Tin Người Dùng -->
                                <a href="@Url.Action("ThongTinCaNhan", "Nguoidung")" class="single-icon">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <!-- Giỏ hàng -->
                            <div class="sinlge-bar shopping">
                                <!-- Giỏ Hàng -->
                                <a href="@Url.Action("Giohang","Giohang")" class="single-icon">
                                    <i class="ti-bag" aria-hidden="true"></i>
                                    @if (ViewBag.Tongsoluong != null)
                                    {
                                        <span class="total-count">@ViewBag.Tongsoluong</span>
                                    }
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li  class="active"><a href="@Url.Action("Index", "BookStore")"<i class="fa fa-home" aria-hidden="true"></i>Trang Chủ</a></li>
                                                <li>
                                                    @Html.Action("Loai", "BookStore")
                                                </li>
                                                <li>
                                                    @Html.Action("Nhaxuatban", "BookStore")
                                                </li>
                                                <li>
                                                    <a href="#">Sắp xếp theo đơn giá<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li><a href="@Url.Action("Index", "BookStore", new { sortOrder = "price_desc", page = ViewBag.CurrentPage })">Sắp xếp đơn giá giảm dần</a></li>
                                                        <li><a href="@Url.Action("Index", "BookStore", new { sortOrder = "price_asc", page = ViewBag.CurrentPage })">Sắp xếp đơn giá tăng dần</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.Action("HoTro", "Home")">Hỗ Trợ</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <div class="advertisement-slider">
        <div><img src="~/images/uudai.png" alt="Ảnh 1"></div>
        <div><img src="~/images/ảnh 2.jpg" alt="Ảnh 2"></div>
        <div><img src="~/images/ảnh 3.jpg" alt="Ảnh 3"></div>
        <div><img src="~/images/anh5.png" alt="Ảnh 5"></div>

        <!-- Thêm ảnh khác tùy ý -->
    </div>

    <!-- Start Product Area -->
    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="shop-services section home">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-rocket"></i>
                        <h4>Free shiping</h4>
                        <p>Với đơn hàng trên 200.000VNĐ</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-reload"></i>
                        <h4>Miễn Phí Đổi Trả</h4>
                        <p>Đổi hàng khi bị lỗi</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-lock"></i>
                        <h4>Bảo Mật</h4>
                        <p>Bảo mật giao hàng</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-tag"></i>
                        <h4>Siêu Tiết Kiệm</h4>
                        <p>Mua hàng giá rẻ</p>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
    </section>
    <!-- Jquery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/Scripts/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Scripts/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Scripts/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Scripts/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/Scripts/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Scripts/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Scripts/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/Scripts/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Scripts/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/Scripts/onepage-nav.min.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script src="~/Scripts/active.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.advertisement-slider').slick({
                centerMode: true,
                centerPadding: '0',
                dots: true, // Hiển thị chấm điều hướng
                autoplay: true, // Tự động chuyển ảnh
                autoplaySpeed: 2000, // Chuyển ảnh mỗi 2 giây
                infinite: true, // Vô hạn lặp
                arrows: false, // Ẩn các mũi tên chuyển đổi
            });
        });
    </script>


</body>
</html>
