@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.Loai>
@{
    ViewBag.Title = "Phân Loại Sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    tr, td, th {
        text-align: center;
        font-weight: bold;
        border: 1px solid black;
    }

    table {
        border: 1px solid black;
    }

    #imggh {
        width: 100px;
        height: 150px;
    }

    a {
        font-weight: bold;
    }

    .Trang li {
        display: inline;
        letter-spacing: 20px;
    }

    .Trang a:active {
        background-color: green;
        text-decoration-color: green;
    }

    #more {
        border: 0px solid black;
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
</style>
<p>
    @Html.ActionLink("Thêm loại sách mới", "ThemmoiLoai")
</p>
<table>
    <tr>
        <th>Mã số loại</th>
        <th>Tên loại</th>
        <th style="width:80px">Thao Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Sualoai", new { id = item.MaLoai })
                <br />
                <span style="color:red">@Html.ActionLink("Xóa", "Xoaloai", new { id = item.MaLoai })</span>
            </td>
        </tr>
    }
</table>
<div class="Trang">
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Loaisach", new { page = page }))
</div>